.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: 0.3s;
    width: 100%;
    padding: 10px 10px 10px 15px;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.overlay{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
.btn-show:hover .overlay{
    opacity: 0.3;
}