.navbar-color{
    padding:0;
    margin: 0;
    background: rgba(255, 255, 255, 0) !important;
}
.middle{
    position: relative;
    left: -45%;
}
li>a{
    color: #ffffff !important;
    text-decoration: none !important;
}
a:hover{
    border-bottom: 2px solid #ffffff;
}

.tabHeading>a{
    color: #444444 !important;
}